<div id="cwrap">
    <div class="container">
        <div class="row">
            <div class="article-meta">
                <a class="article-date">友情链接</a>
            </div>
                
            {% for client in site.clients %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="thumbnail" style="height: 140px; width: 200px">
                        <a href="{{ client.url }}" target="_blank">
                            <img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            {% endfor %}
                
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->