<div id="headerwrap">
    <div class="container">
        <div class="row"> 
<!--            <div class="col-lg-8 col-lg-offset-2"> -->
            <div class="homepage-banner-content">
                <h3>{{ site.aphorism_title }}</h3>
                <p>{{ site.aphorism }}</p>
                <p>
                    <a href="/product/" class="button button-royal button-rounded button-jumbo">
                        VIEW PRODUCT RANGE
                    </a>
                </p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->